@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --primaryColor: rgb(238, 238, 238);
    --secondaryColor: rgb(156, 156, 156);
}
body{
    background-image: url("img/background2.jpg");
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    color: var(--primaryColor);
}
.contentTotal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box{
    
    width: 28rem;
    height: 35rem;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 50px black;
}
.contentBox{
    padding: 1.5rem 0rem;
    width: 29rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contentBox div{
    display: flex;
    justify-content: center;
    
}
.imgProfile{
    border-radius: 50rem;
    width: 8rem;
    height: 8.5rem;
    box-shadow: 8px 8px 20px rgb(32, 32, 32);
}
.infoNames{
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.subname{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}
.infoNames h3{
    color: var(--secondaryColor);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.location{
    color: var(--primaryColor);
    font-weight: 800;
    font-size: 1rem;
}
.infoProgrammer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-size: 0.8rem;
}
.infoProgrammer div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoProgrammer div p{
    color: var(--secondaryColor);
}
.email{
   
}
.email h1{
    font-size: 0.8rem;
}