*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    color: white;
}
.contentTotal{
    height: 100vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 30rem;
    height: 38rem;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}
.contentBox{
    width: 29rem;
    height: 32rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.contentBox div{
    display: flex;
    justify-content: center;
}
.imgProfile{
    border-radius: 50rem;
    width: 7rem;
    height: 7rem;
}
.infoNames{
    flex-direction: column;
    align-items: center;
}
.infoNames h3{
    color: grey;
}