@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Titillium+Web:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: rgb(31, 31, 31);
    font-family: 'Poppins', sans-serif;
}
.contentTotal{
    height: 100vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 28rem;
    height: 35rem;
    background-color: rgba(255, 255, 255, 0.089);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 10px 10px 50px black;
}
.contentBox{
    padding: 1.5rem 0rem;
    width: 29rem;
    height: 35rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contentBox div{
    display: flex;
    justify-content: center;
    
}
.imgProfile{
    border-radius: 50rem;
    width: 8rem;
    height: 8.5rem;
    box-shadow: 8px 8px 20px rgb(32, 32, 32);
}
.infoNames{
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
}

.subname{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    font-size: 0.7rem;
}
.infoNames h3{
    color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.location{
    color: rgb(66, 66, 66);
    font-weight: 800;
    font-size: 1rem;
}
.infoProgrammer{
    display: flex;
    flex-direction: row;

}
.infoProgrammer div{
    border-right: 1px solid black;
}